.toDoItem {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px dashed lightgray;
  height: 30px;
}

.button__complete:hover {
  color: #26e05b;
  cursor: pointer;
  
}
.button__remove:hover {
  color: red;
  cursor: pointer;
  
}

.task__active {
  font-size: 30px;
  cursor: pointer;
}

.task__completed {
  text-decoration: line-through;
  cursor: pointer;
  font-size: 30px;
}



