.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #fff;
    border: none;
  }
  
  .button__clear:hover {
    color: red;
    cursor: pointer;
    border: none;
  }
  
  .button__complete:hover {
    color: #26e05b;
    cursor: pointer;
    border: none;
  }
  