.filter {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .button input[type="radio"] {
    display: none;
  }
  
  .button {
    background-color: white;
    display: inline-block;
  }
  
  .button label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    user-select: none;
  }
  
  .button input[type="radio"]:checked + label {
    color: #26e05b;
  }