
.toDoItem {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.app__form {
  display: flex;
  justify-content: center;
  width: 90%;
}

.form__input {
  width: 100%;
  height: 50px;
}

.btn{
    position: relative;
    color: white;
    font-size: 20px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    padding: 5px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
    border-radius: 100%;
  }
  .btn::before{
 
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }

  .btn__remove {border: 2px solid #ff7675;
  }

  .btn__complete {border: 2px solid #26e05b;}
  
  .btn__remove::before{
    width: 0%;
    height: 100%;
    background: #ff7675;
  }
  
  .btn__remove:hover::before{
    width: 100%;
  }

  .btn__complete::before{
    width: 100%;
    height: 0%;
    background: #26e05b
  }
  .btn__complete:hover::before{
    height: 100%;
  }



.task__completed {
  text-decoration: line-through;
}